<!-- <header class="masthead clear">
  <div class="centered">
    <div class="site-branding">
      <h2 class="site-title">CONTACT</h2>
    </div>
  </header> -->
  <!-- <div class="videoWrapperOuter">
    <div class="videoWrapperInner">
      <iframe src="https://www.youtube.com/embed/CR62t5lPrJ0"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div> -->
  <div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>
  <h1>Lets Chat!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="#">CONTACT ME</a>
</div>
