<form ng-submit="eatFavouritesNew.create()">
    <input type="text" name="title" placeholder="Title" ng-model="eatFavouritesNew.eatFavourite.title" class="feedback-input"></input>
    <textarea type="text" name="text" placeholder="Text" ng-model="eatFavouritesNew.eatFavourite.text" class="feedback-input"></textarea>
    <input type="text" name="posterImage" placeholder="Image" ng-model="eatFavouritesNew.eatFavourite.posterImage" class="feedback-input"></input>
    <input type="submit" value="CREATE"/></input>
</form>
