<form ng-submit="favouritesNew.create()">
    <input type="text" name="title" placeholder="Title" ng-model="favouritesNew.favourite.title" class="feedback-input"></input>
    <textarea type="text" name="text" placeholder="Text" ng-model="favouritesNew.favourite.text" class="feedback-input"></textarea>
    <input type="text" name="posterImage" placeholder="Image" ng-model="favouritesNew.favourite.posterImage" class="feedback-input"></input>
    <input type="submit" value="CREATE"/></input>
</form>
