<form ng-submit="personalTrainingsNew.create()">
    <input type="text" name="title" placeholder="Title" ng-model="personalTrainingsNew.personalTraining.title" class="feedback-input"></input>
    <textarea type="text" name="text" placeholder="Text" ng-model="personalTrainingsNew.personalTraining.text" class="feedback-input"></textarea>
    <input type="text" name="posterImage" placeholder="Image" ng-model="personalTrainingsNew.personalTraining.posterImage" class="feedback-input"></input>
    <input type="submit" value="CREATE"/></input>
</form>
