<section class="row">
  <form ng-submit="recipesNew.create()">
    <div class="twelve columns">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" ng-model="recipesNew.recipe.title" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Text</label>
      <input type="text" name="text" placeholder="text" ng-model="recipesNew.recipe.text" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Poster Image</label>
      <input type="text" name="posterImage" placeholder="Poster Image" ng-model="recipesNew.recipe.posterImage" class="u-full-width">
    </div>
    <button >Create</button>
  </form>
</section>
