        <header class="masthead clear">
          <div class="centered">
            <div class="site-branding">
              <h1 class="site-title">RECIPES</h1>
            </div>
          </div>
        </header>

  <figure ng-repeat="recipe in recipesIndex.all" a ui-sref ="recipesShow({ id: recipe._id })" class="snip0016">
    <img src="{{ recipe.posterImage }}" alt="sample41"/>
      <figcaption>
        <h2>{{ recipe.title }}</h2>
          <a href="#"></a>
      </figcaption>
  </figure>
