<form novalidate ng-submit="register.submit()">
  <input class="u-full-width" type="text" placeholder="Username" ng-model="register.user.username">
  <input class="u-full-width" type="email" placeholder="Email" ng-model="register.user.email">
  <input class="u-full-width" type="password" placeholder="Password" ng-model="register.user.password">
  <input class="u-full-width" type="password" placeholder="Password Confirmation" ng-model="register.user.passwordConfirmation">
  <button type="submit" name="button">Register</button>
</form>
