<section class="row">
  <form ng-submit="trainFavouritesEdit.update()">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea ng-model="trainFavouritesEdit.trainFavourite.text" class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="posterImage" placeholder="Poster Image" ng-model="trainFavouritesEdit.trainFavourite.posterImage" class="u-full-width">
    </div>
    <button >Update</button>
  </form>
</section>
