<section style="margin:13%;" class="row">
  <form ng-submit="workoutsNew.create()">
    <div class="twelve columns">
      <label>Title</label>
      <input type="text" name="title" placeholder="Title" ng-model="workoutsNew.workout.title" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Text</label>
      <input type="text" name="text" placeholder="Text"ng-model="workoutsNew.workout.text" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="posterImage" placeholder="Image" ng-model="workoutsNew.workout.posterImage" class="u-full-width">
    </div>
    <button >Create</button>
  </form>
</section>
